.center {
    text-align: center;
}

button {
    width: 200px;
    height: 30px;
    background-color: #4CAF50;
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.div {
    border: green 1px;
    border-style: solid;
    width: 300px;
    text-align: center;
}

span {
    background-color: #CCCCCC;
    font-size: 32px;
    font-family: "微软雅黑";
}

.input {
    border: 1px solid #6666FF;
}

.div {
    border: green 1px;
    border-style: solid;
    width: 300px;
    text-align: center;
}

span {
    background-color: #CCCCCC;
    font-size: 32px;
    font-family: "微软雅黑";
}

.input {
    border: 1px solid #6666FF;
}

.wide {
    width:500px;
    height:100px;
}

input[type=text], textarea {
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    -ms-transition: all 0.10s ease-in-out;
    -o-transition: all 0.10s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ddd;
}
  
input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}

.dark {
    background-color: rgb(221, 221, 221);
}

.yellow {
    background-color: rgb(240, 255, 188);
}

.blue {
    background-color: rgb(188, 225, 255);
}

.pink {
    background-color: rgb(255, 201, 188);
}